/* Full screen center */
.cred-wrapper {
  border-radius: 10px;
  border:1px solid #ccc;
  background-color: #ffff;
}

/* Card styling */
/* .cred-card {
  width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
} */

/* Title */
.cred-title {
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
  font-weight: 600;
}

/* Form layout */
.cred-form {
    padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Group spacing */
.cred-group {
  margin-bottom: 20px;
}

/* Labels */
.cred-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #555;
}

/* Inputs */
.cred-input {
  width: 50%;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cred-input:focus {
  border-color: #0b44ee;
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.15);
}

/* Button */
.cred-button {
    width: 30%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #0b44ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.cred-button:hover {
  background-color: #2e62fe;
}

/* Message */
.cred-message {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}